html, body
    {
     margin:0px;          /* ページ全体のmargin */
     padding:0px;   
     width:100%;      /* ページ全体のpadding */
     text-align:center;   /* 下記のautoに未対応用のセンタリング */
    }

a {
    text-decoration: none;
    font-size: 14px;
} 

#main
    {
     margin-left:auto;    /* 左側マージンを自動的に空ける */
     margin-right:auto;   /* 右側マージンを自動的に空ける */
     text-align:left;     /* 中身を左側表示に戻す */
     width:650px;         /* 幅を決定する */
    }
    


#footer {
	position: fixed;
	bottom: 0;
	text-align: center;
	font-size: 12px;
	background: #D3D3D3;
	width:100%; 
}
